<div class="card" style="width: 50%;">
   <div class="card-header">
        <h3 style="text-align: center"> LOGIN FORM</h3>
   </div>
  <div class="card-body">
   <form method="POST" action="/users/login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username"  placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
